.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  padding-left: 10px;
  padding-right: 10px; 
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header i {
  font-size: 30px; 
  margin-top: 30px;
}

h1 {
  font-size: 54px;
  margin-bottom: 5px;
}

textarea {
  width: 400px;
  height: 150px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-container {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  color: black;
}

.spam {
  color: red;
}

.not-spam {
  color: green;
}


@media (max-width: 420px) {
  textarea {
    width: calc(100% - 20px);
  }
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top: 4px solid #4caf50;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: 8px;
  font-size: 14px;
  color: #ccc;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

